<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>臺灣城與龍</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'TW ✜ 城とドラゴン', root_path, class: "navbar-brand"  %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to '戰友列表', root_path %></li>
          <li><%= link_to '我的資料', user_path %></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to '登出', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to '登入', new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">
    <p class="label label-info"><%= flash[:notice] %></p>
    <p class="label label-warning"><%= flash[:alert] %></p>
    <p class="label label-danger"><%= flash[:error] %></p>
    <%= yield %>
  </div>

  <br><br>
</body>

</html>
